@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", "sans-serif";
}

.bg-image {
  background-image: url("/images/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.last-border-none:last-child {
  border: 0px;
}

.pp-container {
  @apply px-8 max-w-[1536px] mx-auto;
}

.pp-link-wrapper:first-of-type {
  @apply md:col-span-2 lg:col-span-1;
}
