@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "sans-serif";
}

.bg-image {
  background-image: url("/images/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.last-border-none:last-child {
  border: 0px;
}

.pp-container {
  @apply px-8 max-w-[1536px] mx-auto;
}

.pp-link-wrapper:first-of-type {
  @apply md:col-span-2 lg:col-span-1;
}

.filter-search {
  position: relative;
}
.filter-search select {
  position: relative;
}

.filter-search select::-ms-expand {
  display: none;
}

.filter-search select option:not(first-child) {
  color: black;
}

.pp-shadow {
  box-shadow: 0px 0px 12px #00000029;
}

.internal-header-bg {
  background-image: url("/images/listing-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.internal-header-overlay {
  background: linear-gradient(180deg, #ffffff00 0%, rgba(0, 0, 0, 0.3) 100%) 0%
    0% no-repeat padding-box;
}

.filter-checkbox:checked + .filter-label {
  background-color: #642ca9;
  color: white;
}

.rc-rate-star {
  margin-right: 0px !important;
}

.custom-arrows {
  height: 100% !important;
  border-radius: 0 !important;
  width: 90px !important;
  filter: invert(1) !important;
  opacity: 0.5 !important;
}

.custom-prev-arrow {
  left: 0 !important;
}

.custom-next-arrow {
  right: 0 !important;
}

@media (max-width: 767px) {
  .custom-arrows {
    width: 45px !important;
  }
}
